/wallet.enc
/Blocks/Block-[2-9]
/Blocks/Block-[1-9][1-9]
env/Blocks/Block-[1-9][1-9]
env/Blocks/Block-[2-9]
/target/archive-tmp/
target/generated-sources/
target/maven-archiver/
target/maven-status/
target/classes/
env/wallet.enc